<div class="container-fluid" id="img-bg">
  <div class="row">
    <div class="col-md-4 ml-auto mt-5 mr-5 mb-5">
      <div class="row d-flex justify-content-center" id="img-tp">
        <div class="col-md-10 font-weight-bold text-white">
          <h2 class="text-center pb-4">Cadastro</h2>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              class="form-control"
              type="text"
              name="nome"
              id="nome"
              placeholder="Digite seu nome"
            />
          </div>

          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              class="form-control"
              type="text"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
            />
          </div>

          <div class="form-group">
            <label for="foto">Link da Foto</label>
            <input
              class="form-control"
              type="text"
              name="foto"
              id="foto"
              placeholder="Insira o link da sua foto"
            />
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Digite sua senha"
            />
          </div>

          <div class="form-group">
            <label for="confirmSenha">Confirmar Senha</label>
            <input
              class="form-control"
              type="password"
              name="confirmSenha"
              id="confirmSenha"
              placeholder="Digite sua senha novamente"
            />
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuário</label>
            <select class="form-control" name="tipo" id="tipo">
              <option>Selecione um tipo de usuário:</option>
              <option value="Normal"></option>
              <option value="Administrador"></option>
            </select>
          </div>

          <div class="d-flex justify-content-center pt-5">
            <button type="submit" class="btn cancel mr-4">Cancelar</button>
            <button type="submit" class="btn register">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
